.wrapperLabel {
  display: flex;
  flex-direction: column;

  padding: 5px 10px;
  gap: 5px;
}
.formTextInput {
  display: flex;
  gap: 10px;
}

.textInput {
  height: 24px;
}

.success {
  height: 50px;
  width: 50px;
}
.success svg path {
  fill: green;
}

.error svg path {
  fill: red;
}
